@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h2>The Joel Hilton Film Collection</h2>
    <img src=" ~ /img/download.jpg" alt="Joel's Film Collection">
</div>