@model Mission06_Hales.Models.MovieCollection

@{
    ViewData["Title"] = "Add Movie";
}

<h2>Add Movie</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Movie</h4>
        <hr />
        @Html.ValidationSummary(true)
        // Add form fields for each property in MovieCollection, e.g.:
        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
        // Repeat for other fields like Category, Year, Director, etc.
        @Html.DropDownListFor(model => model.Rating, (SelectList)ViewBag.Rating, "Choose Rating", new { @class = "form-control" })
        // Add fields for Edited, Lent To, and Notes with appropriate HTML helper methods
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
